body {
  background-color: #fff;
}

h1 {
  color: #025157;
  text-align: center;
  font-family: 'Alegreya', serif;
}

p {
  color: #8b8b8bcc;
  font-family: Verdana;
  font-size: 20px;
}

button {
  color: #fff;
  background-color: #025157;
}

.header {
  /* margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px; */
  margin: 40px 20px 0;
  font-size: 0;
  font-family: sans-serif;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}

li {
  display: inline;
  margin: 0 25px 0;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  line-height: 45px;
  height: 100%;
  vertical-align: middle;
}

.logo {
  width: 15%;
}

.logo > img {
  width: 15%;
}

.navbar {
  width: 60%;
  text-align: center;
  color: #025157;
  font-weight: 500;
}

.actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.actions > * {
  margin: 0 10px;
}

.actions a {
  color: #67b54b;
}

.actions button {
  color: white;
  background-color: #67b54b;
  padding: 12px 14px;
  border: 0;
  border-radius: 5px;
}

.main {
  margin-top: 285px;
  text-align: center;
}

.publish {
  /* container styles if any */
  margin-left: 30px;
}

.publish h3 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.publish > form {
  display: flex;
}

.publish > form p {
  color: #025157;
  margin-right: 18px;
}

.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

iframe {
  display: flex;
  margin: auto;
}
.explanatory-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanatory-video img {
  width: 120px;
  margin-top: 10px;
}

.features {
  display: grid;
  grid-template: repeat(2,330px) / repeat(2,1fr);
  background-color: #025157;
  margin-top: 3rem;
  /* grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 330px;
  margin-top: 3rem;
  background-color: #67b54b; */
}

.features .card-article{
  padding: 1rem 4rem 1rem 4rem;
  background-color: #fff;
  margin: 2rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.features .card-article .card-text {
  flex: 2;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem 0rem 0rem;
}
.features .card-article .card-text img{
  width: 70px;
  margin-bottom: 1rem;
}
.features .card-article .card-text h3{
  font-size: 20px;
  font-weight: 600;
  color: #343434;
}
.features .card-article .card-text p{
  font-size: 16px;
  color: #343434;
  font-weight: 300;
}
.features .card-article .card-text a{
  font-size: 16px;
  color: #67b54b;
  font-weight: 300;
  text-decoration: none;
}
.features .card-article .card-image{
  flex: 1;
  width: 40%;
  position: relative;
  right: -50px;
  height: 80%;
}
.features .card-article .card-image .back{
  margin-top: -30px;
  margin-left: -30px;
  height: 45%;
  position: absolute;
  border: 5px solid #dadada;
  padding: 1rem;
  border-radius: 10px;
}
.features .card-article .card-image .front{
  top: 2.5rem;
  left: 3rem;
  height: 80%;
  position: absolute;
  background-color: #025157;
  padding: 1rem;
  border-radius: 10px;
}


@media (max-width: 550px) {
  .navbar,
  .actions{
    display: none;
  }
  body{
    background-color: #fff;
  }
  h1{
    font-size: 15px;
  }

  .main{
    margin-top: 130px;
    
  }
  .main img{
    width: 400px;
  }
  .promo{
    width: 90%;
  }
  .publish > form{
    flex-direction: column;
  }

  .publish > form > div {
    height: 50px;
    margin-top: 10px;
  }

  .publish > form > div > input {
    width: 65%;
  }

  .promo {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    
  }
 .explanatory-video  > video{
   width: 100%;
  }
  .publish{
    margin-top: 10px;
  }

  .publish > h3 {
    font-size: 25px;
    line-height: 1.2;
  }
  iframe{
    width: 350px;
    height: 250px;
  }
  .features{
    display: grid;
  grid-template: repeat(1,350px) / repeat(1,1fr);
  background-color: #025157;
  }
  .features .card-article{
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    
  }

  .features .card-article .card-text {
    flex: 2;
    flex-direction: column;
    display: flex;
    flex-direction: column;
  }
  .features .card-article .card-text img{
    width: 50px;
    margin-bottom: 1rem;
  }
  .features .card-article .card-text h3{
    font-size: 15px;
    font-weight: 600;
    color: #343434;
  }
  .features .card-article .card-text p{
    font-size: 12px;
    color: #343434;
    font-weight: 300;
  }
  .features .card-article .card-text a{
    font-size: 12px;
    color: #67b54b;
    font-weight: 300;
    text-decoration: none;
  }
  .features .card-article .card-image{
    flex: 1;
    width: 10%;
    position: relative;
    right: -20px;
    height: 30%;
  }
  .features .card-article .card-image .back{
    margin-top: -10px;
    height: 45%;
    position: absolute;
    border: 5px solid #dadada;
    padding: 1rem;
    border-radius: 10px;
  }
  .features .card-article .card-image .front{
    top: 2.5rem;
    left: 3rem;
    height: 80%;
    position: absolute;
    background-color: #025157;
    padding: 1rem;
    border-radius: 10px;
    margin-left: -40px;
  }
}
